{# @var segments \Domain\Entity\Segment[] #}

{% extends "base.html.twig" %}

{% block body %}
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
            </div>

            <!-- ========== Top Menu Start ========== -->
            {% include viewPaths.webAppCommon ~ 'top_navbar.html.twig' %}
            <!-- top menu end -->

        </div>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include viewPaths.webAppCommon ~ 'left_sidemenu.html.twig' %}
        <!-- left sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Content Wrapper -->
                    {% block content_wrapper %}
                        <h2 class="mb-4">Bienvenido</h2>
                    {% endblock %}
                    <!-- end content wrapper -->


                    <div class="row">
                        {% for segment in segments %}
                        <div class="col-lg-6">
                            <div class="card m-3">
                                <div class="card-body">
                                    <h4 class="card-title">{{ segment.name }}</h4>
                                    <div class="row">
                                        <div class="col-5">
                                            <p>Total de restaurantes</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ segment.countRestaurants }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <p>Popularidad Media</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ segment.averagePopularityRate }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <p>Satifacion Media</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ segment.averageSatisfactionRate }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <p>Precio Medio</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ segment.averagePrice }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <p>Total Review</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ segment.totalReviews }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ path('segment_id', {'id': segment.id}) }}" class="btn btn-primary btn-block">
                                                <i class="fas fa-eye"></i> Ver segmento
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-6">
                            <div class="card m-3">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Add Segment</h4>

                                    <div class="text-center mt-3">
                                        <a href="{{ path('create_segment') }}">
                                        <i class="fa fa-plus-circle fa-5x"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->



            <footer class="footer">
                © 2020 Delectatech
            </footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

{% endblock %}
