{# @var segments \Domain\Entity\Segment[] #}

{% extends "base.html.twig" %}

{% block body %}
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
            </div>

            <!-- ========== Top Menu Start ========== -->
            {% include viewPaths.webAppCommon ~ 'top_navbar.html.twig' %}
            <!-- top menu end -->

        </div>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include viewPaths.webAppCommon ~ 'left_sidemenu.html.twig' %}
        <!-- left sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Content Wrapper -->
                    {% block content_wrapper %}
                        <h2 class="mb-4">Bienvenido</h2>
                    {% endblock %}
                    <!-- end content wrapper -->


                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card m-3">
                                <div class="card-body">
                                    <h4 class="card-title">Segments</h4>

                                    <div class="table-responsive">
                                        <table class="table mb-0">

                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Restaurantes</th>
                                                <th>Popularidad</th>
                                                <th>Precio medio</th>
                                                <th>Ver</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for segment in segments %}
                                                <tr>
                                                    <th scope="row">{{ segment.name }}</th>
                                                    <td>10</td>
                                                    <td>{{ segment.averagePopularityRate }}</td>
                                                    <td>{{ segment.averagePrice }}</td>
                                                    <td>
                                                        <a href="{{ path('segment_id', {'id': segment.id}) }}" class="btn btn-outline-primary">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card m-3">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Add Segment</h4>

                                    <div class="text-center mt-3">
                                        <a href="{{ path('create_segment') }}">
                                        <i class="fa fa-plus-circle fa-5x"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->



            <footer class="footer">
                © 2020 Delectatech
            </footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

{% endblock %}
